<%- include("header") -%>

<div class="container mt-4">
    <div class="row">
        <div style="text-align: center" class="col border border-primary p-3 rborder m-5">
            <p>This simple test will examine your physical health and determine how sensitive your body is towards COVID-19 virus</p>
            <button class="btn btn-primary" > Get Started </button>
        </div>
    </div>
</div>

<div class="footer bg-dark">
    <p>Made from love by @UrbanBong</p>
</div>
<%- include("footer") -%>
